body{
    font-family: Georgia, "Times New Roman", serif;
    font-size: 11pt;
}

h1{
    margin: 10px 0;
    padding: 5px;
    background-clip: black;
    color: red;
}

a{
    font-family: monospace;
}

p{
    padding: 10px;
}